body {
    text-align: center;
}

.btn {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    margin: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}


.yellow {
    background-color: #F4CE14;
    border-radius:  0 0 0 90%;
}

.green {
    background-color: #86A789;
    border-radius: 0 0 90% 0;
}

.blue {
    background-color: #00A9FF;
    border-radius:  0 90% 0 0;
}

.red {
    background-color: #F78CA2;
    border-radius: 90% 0 0 0;
}

.game-flash {
    background-color: #fff;
}

.user-flash {
    background-color: ghostwhite;
}