body {
    text-align: center;
}

.btn {
    width: 300px;
    height: 250px;
    border: 3px solid;
    margin: 1rem 0.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}


.yellow {
    background-color: #F4CE14;
    border-radius:  0 0 0 100%;
}

.green {
    background-color: #86A789;
    border-radius: 0 0 100% 0;
}

.blue {
    background-color: #00A9FF;
    border-radius:  0 100% 0 0;
}

.red {
    background-color: #F78CA2;
    border-radius: 100% 0 0 0;
}

.game-flash {
    background-color: #fff;
}

.user-flash {
    background-color: ghostwhite;
}